@using Domain.DTO
@using Domain.Model
@if (toCreate.QuestionCategory.Id == _SelectedQuestionCategory.Id)
{
<div class="card">
    <h5 class="">@toCreate.Body</h5>
    @foreach (var answer in toCreate.AllAnswers)
    {
            <p>@answer</p>
    }
    <button class="btn btn-success" @onclick="CreateQuestion">Add Question</button>
</div>
}

@code {
    [Parameter]
    public Action<CreateQuestionDTO> CreateQuestionCallback { get; set; }
    [Parameter]
    public QuestionCategory _SelectedQuestionCategory { get; set; }
    
    [Parameter]
    public Question _question { get; set; }
    
    private CreateQuestionDTO toCreate;

    protected override void OnInitialized()
    {
        toCreate = new CreateQuestionDTO
        {
            Id = _question.Id,
            Body = _question.Body,
            AllAnswers = _question.AllAnswers,
            QuestionCategory = _SelectedQuestionCategory
        };
    }

    private void CreateQuestion()
    {
        CreateQuestionCallback?.Invoke(toCreate);
    }

}