@page "/CreateSurvey/{SupplierId}"

@using Domain.DTO
@using Domain.Model
@using HttpClients.Interfaces
@inject ISurveyHttpClient _surveyHttpClient
@inject ISupplierHttpClient _supplierHttpClient
@inject NavigationManager navMgr
@attribute [Authorize(Policy = "isWoltSpecialist")]


<div class="card-container">
    @if (supplier != null)
    {
        <h2>Create Survey for @supplier.CompanyName</h2>
    }
    @if (supplier == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="row">
            <div class="col-md-3">
                <CreateSurveySidebar Categories="supplier.RiskCategories" QuestionCategories="supplier.QuestionCategories" Questions="newSurvey.Questions" SaveSurveyNotify="async () => await SaveSurvey()" AddQuestionNotify="AddQuestion" SelectQuestionNotify="SelectQuestion"/>
            </div>
            <div class="col-md-9">
                @if (addingNew)
                {
                    <CreateQuestionCard _SelectedQuestionCategory="selectedQuestionCategory" CreateQuestionCallback="CreateQuestion"/>
                    @foreach (var question in questions.Where(q=> q.QuestionCategory.Name.Equals(selectedQuestionCategory.Name)))
                    {
                        <AddQuestionCard _question="question" _SelectedQuestionCategory="selectedQuestionCategory" CreateQuestionCallback="CreateQuestion"/>;
                    }
                }
                else
                {
                    @foreach (var item in newSurvey.Questions)
                    {
                        <QuestionCard question="@item"/>
                    }
                   
                }
                @* <div class="card-footer"> *@
                @*     <button @onclick="SaveSurvey"> *@
                @*         Save Survey *@
                @*     </button> *@
                @* </div> *@
            </div>
           
        </div> 
    }
</div >
@code 
{
    [Parameter]
    public string SupplierId { get; set; }

    private Supplier supplier;
    
    private CreateSurveyDTO newSurvey;
    private List<Question> questions { get; set; }

    int selectedQuestionIndex;
    QuestionCategory selectedQuestionCategory;


    private string newName = "";

    bool addingNew;

    protected override async Task OnInitializedAsync()
    {
        addingNew = true;
        await LoadSupplier();
        newSurvey = new CreateSurveyDTO();
        newSurvey.Questions = new List<CreateQuestionDTO>();
        selectedQuestionCategory = supplier.QuestionCategories.First();
        await LoadQuestions();
        StateHasChanged();

    }

    private async Task LoadSupplier()
    {
        int SupplierIdInt = int.Parse(SupplierId);
        supplier = await _supplierHttpClient.GetSupplierById(SupplierIdInt);
       
    }

    private async Task LoadQuestions()
    {
        questions = await _surveyHttpClient.GetQuestionsAsync(supplier.Id);
        foreach (var added in newSurvey.Questions)
        {
            questions.RemoveAll(q => q.Id == added.Id);
        }
        
    }
    //Invoked form sidebar - Show create question card
    private void AddQuestion(QuestionCategory questionCategory)
    {
        addingNew = true;
        selectedQuestionCategory = questionCategory;
        StateHasChanged();
    }
    //Invoked form Create Question Card - adds the question to the view
    private async void CreateQuestion(CreateQuestionDTO newQuestion)
    {
        newQuestion.CCode = supplier.CountryCode;
        newSurvey.Questions.Add(newQuestion);
        Console.WriteLine(newSurvey.Questions.Count);
        addingNew = false;
        await LoadQuestions();
        StateHasChanged();

    }



    private void SelectQuestion(CreateQuestionDTO question)
    {
        addingNew = false;
        selectedQuestionIndex = newSurvey.Questions.IndexOf(question);
        selectedQuestionCategory = newSurvey.Questions[selectedQuestionIndex].QuestionCategory;
        StateHasChanged();
    }

    private async Task SaveSurvey()
    {
        try
        {
            newSurvey.SupplierId = supplier.Id;
            newSurvey.CreatorId = 1;
            await _surveyHttpClient.CreateSurveyAsync(newSurvey);
            navMgr.NavigateTo($"/SupplierProfile/{SupplierId}");

        }
        catch (Exception e)
        {
            Console.WriteLine($"Error saving survey: {e.Message}");
        }
    }
}