@using Domain.Model
@if (Display == null)
{
    <p> Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <p>Risk Name: @Display.Name</p> 
            @if (Display.RiskAttributes != null)
            {
                <p>Assessment Completed</p>
            }
            else
            {
                <button @onclick="RemoveRisk" class="btn-primary "> Remove Risk </button>
                <button @onclick="QualifyRiskNotify" class="btn-primary"> Qualify Risk </button>
            }
        </div>
    </div>
}
@code {
    [Parameter]
    public Risk? Display { get; set; } 
    [Parameter]
    public Action QualifyRiskNotify { get; set; }
    [Parameter] 
    public EventCallback<Risk> RemoveRiskNotify { get; set; }

    void RemoveRisk()
    {
        RemoveRiskNotify.InvokeAsync(Display);
    }
    



}