@using Domain.Model
@using Domain.DTO
@using HttpClients.Interfaces
@inject ISupplierHttpClient _supplierHttpClient
<div class="card">
    <div class="card-body">
        <h6>Category: @Category.CategoryName</h6>

        <div class="card">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add New Risk" @bind="newRiskName"/>
                <button class="btn btn-success" @onclick="AddRisk">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public RiskCategory Category { get; set; }
    [Parameter]
    public EventCallback<CreateRiskDTO> SaveRiskNotify { get; set; }
    
    string newRiskName;

    async Task AddRisk()
    {
        CreateRiskDTO riskDto = new()
        {
            Category = Category,
            Name = newRiskName
        };
        await SaveRiskNotify.InvokeAsync(riskDto);
    }
    
}