@using Domain.Model
@using Domain.DTO
@using HttpClients.Interfaces
@inject ISupplierHttpClient _supplierHttpClient
<div class="card">
    <div class="card-body">
        <h6>Category: @Category.CategoryName</h6>

        <div class="card">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add New Risk" @bind="newRiskName"/>
                <button class="btn btn-success" @onclick="AddRisk">
                    Add
                </button>
            </div>
            @foreach (var generic in GenericRisks.Where(r => r.Category.CategoryId == Category.CategoryId))
            {
                <div class="input-group">
                    <label  class="form-control" >@generic.Name</label>
                    <button class="btn btn-success" @onclick="()=>AttachRisk(generic)">
                        Add
                    </button>
                </div>
            }
        </div>
    </div>
</div>
@code {
    [Parameter]
    public RiskCategory Category { get; set; }
    [Parameter]
    public EventCallback<CreateRiskDTO> SaveRiskNotify { get; set; }
    [Parameter]
    public List<Risk> GenericRisks { get; set; }

    string newRiskName;

    async Task AddRisk()
    {
        CreateRiskDTO riskDto = new()
        {
            //Id = -1 Create a new rik in the risk table
            Id = -1,
            CategoryId = Category.CategoryId,
            Name = newRiskName
        };
        await SaveRiskNotify.InvokeAsync(riskDto);
    }

    async Task AttachRisk(Risk risk)
    {
        CreateRiskDTO riskDto = new()
        {//Id not -1 - reference the risk
            Id = risk.Id,
            CategoryId = risk.Category.CategoryId,
            Name = risk.Name
        };
        await SaveRiskNotify.InvokeAsync(riskDto);
    }
    
}