@using Domain.Model
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Display.Body</h5>

        <div class="form-check">
             @foreach(var answer in Display.AllAnswers)
             {
            <div class="form-check" @onclick="()=>QuestionsAnswered(answer)">
                <input class="form-check-input" type="checkbox" name="answerRadio" id="@Display.AllAnswers.IndexOf(answer)" value="@Display.AllAnswers.IndexOf(answer)"  />
                <label class="form-check-label" for="@($"answer-{answer}")">
                    @answer
                </label>
            </div>
            }           
        </div>

    </div>
</div>

@code {
    [Parameter]
    public Question Display { get; set; }
    
    [Parameter]
    public EventCallback<Question> QuestionAnsweredNotify { get; set; }

    private async Task QuestionsAnswered(string answer)
    {
        Display.SelectedAnswerId = Display.AllAnswers.IndexOf(answer);
        await QuestionAnsweredNotify.InvokeAsync(Display);
    }


}