@page "/CreateSurvey/{SupplierId}"

@using Domain.DTO
@using Domain.Model
@using HttpClients.Interfaces
@inject ISurveyHttpClient _surveyHttpClient
@inject ISupplierHttpClient _supplierHttpClient
@inject NavigationManager navMgr
@attribute [Authorize(Policy = "isWoltSpecialist")]


<div class="card-container">
    @if (supplier != null)
    {
        <h2>Create Survey for @supplier.CompanyName</h2>
    }
    @if (supplier == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="row">
            <div class="col-md-3">
                <CreateSurveySidebar Categories="supplier.Categories" Questions="newSurvey.Questions" AddQuestionNotify="AddQuestion" SelectQuestionNotify="SelectQuestion"/>
            </div>
            <div class="col-md-9">
                @if (addingNew)
                {
                    <CreateQuestionCard Category="selectedQuestionCategory" CreateQuestionCallback="CreateQuestion"/>
                }
                else
                {
                    @foreach (var item in newSurvey.Questions)
                    {
                        <QuestionCard question="@item"/>
                    }
                   
                }
                <div class="card-footer">
                    <button @onclick="SaveSurvey">
                        Save Survey
                    </button>
                </div>
            </div>
           
        </div> 
    }
</div >
@code 
{
    [Parameter]
    public string SupplierId { get; set; }

    private List<Question> questions { get; set; }
    private CreateSurveyDTO newSurvey;

    int selectedQuestionIndex;
    RiskCategory selectedQuestionCategory;
    Risk selectedQuestionRisk;

    Supplier? supplier;

    private string newName = "";

    bool addingNew;

    protected override async Task OnInitializedAsync()
    {
        addingNew = true;
        await LoadSupplier();
        await LoadQuestions();
        newSurvey = new CreateSurveyDTO();
        newSurvey.Questions = new List<CreateQuestionDTO>();
        selectedQuestionCategory = supplier.Categories.First();
        selectedQuestionRisk = supplier.RelevantRisks.First();
        Console.WriteLine(selectedQuestionCategory.CategoryName);
        StateHasChanged();

    }

    private async Task LoadSupplier()
    {
        int SupplierIdInt = int.Parse(SupplierId);
        supplier = await _supplierHttpClient.GetSupplierById(SupplierIdInt);
       
    }

    private async Task LoadQuestions()
    {
        questions = await _surveyHttpClient.GetQuestionsAsync(supplier.Id);
        
    }

    private void AddQuestion(RiskCategory category)
    {
        addingNew = true;
        selectedQuestionCategory = category;
    }

    private void CreateQuestion(CreateQuestionDTO newQuestion)
    {
        
        newSurvey.Questions.Add(newQuestion);
        addingNew = false;
        StateHasChanged();

    }



    private void SelectQuestion(CreateQuestionDTO question)
    {
        addingNew = false;
        selectedQuestionIndex = newSurvey.Questions.IndexOf(question);
        selectedQuestionCategory = newSurvey.Questions[selectedQuestionIndex].RiskCategory;
        selectedQuestionRisk = newSurvey.Questions[selectedQuestionIndex].RelatedRisk;
        StateHasChanged();
    }

    private async Task SaveSurvey()
    {
        try
        {
            newSurvey.SupplierId = supplier.Id;
            newSurvey.CreatorId = 1;
            newSurvey.Questions[selectedQuestionIndex].RelatedRisk = selectedQuestionRisk;
            await _surveyHttpClient.CreateSurveyAsync(newSurvey);
            navMgr.NavigateTo($"/SupplierProfile/{SupplierId}");

        }
        catch (Exception e)
        {
            Console.WriteLine($"Error saving survey: {e.Message}");
        }
    }
}