@page "/"
@using Domain.Model
@using HttpClients.Interfaces
@inject ISupplierHttpClient SupplierHttpClient
@inject IUserHttpClient UserHttpClient

<PageTitle>Home page- Wolt</PageTitle>

<h1>List of Suppliers</h1>

@if (_suppliers == null)
{
    <p>Loading suppliers' data....</p>
    <p>@msg</p>
}
else if (!_suppliers.Any())
{
    <p>No Suppliers to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Country</th>
            <th>Representative Mail</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _suppliers)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.Country</td>
                <td>@_userMails.FirstOrDefault(u => u.Id == item.RepresentativeId).Mail</td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private List<Supplier>? _suppliers;
    private List<User>? _userMails;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadSuppliers();
    }

    private async Task LoadSuppliers()
    {
        try
        {
            _suppliers = await SupplierHttpClient.GetSuppliers();
            _userMails = await UserHttpClient.GetUsersAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = "Failed to load data";
        }
    }
}
