@page "/Login"
@using HttpClients.Interfaces
@model WoltBlazorApp.Pages.Login

@inject IAuthHttpClient AuthHttpClient
@inject NavigationManager navMgr 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>