@using Domain.Model
@if (Display == null)
{
    <p> Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <p>Risk Name: @Display.Name</p> 
            @if (Display.RiskAttributes != null)
            {
                <p>Assessment Completed</p>
            }
            else
            {
            <button @onclick="QualifyRiskNotify"> Qualify Risk </button>
            }
        
        </div>
    </div>
}
@code {
    [Parameter]
    public Risk? Display { get; set; } 
    [Parameter]
    public Action QualifyRiskNotify { get; set; }
    

   
}